<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p><strong>First Name</strong> <%= client['firstName']%></p>
<p><strong>Last Name</strong> <%= client['lastName']%></p>
<p><strong>Email</strong> <%= client['email']%></p>
<p><strong>Phone</strong> <%= client['phone']%></p>
<p><strong>Is paid</strong> <%= client['is_paid']%></p>
</body>
</html>