<%- include('includes/head.ejs', {formCSS: true, gridCSS: true, indexCSS: true}) %>

<body>
<%- include('includes/navigation.ejs', {activePath: 'invoice'}) %>

<div class="container">
    <form action="/invoice" method="POST">
        <div class="row">
            <div class="col-25">
                <label for="ref">Invoice Ref</label>
            </div>
            <div class="col-75">
                <input type="text" id="ref" name="invoiceRef" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="charge">Charge</label>
            </div>
            <div class="col-75">
                <input type="number" id="charge" name="charge" step="0.01" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="balance">Balance</label>
            </div>
            <div class="col-75">
                <input type="number" id="balance" name="balance" step="0.01" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="discount">Discount</label>
            </div>
            <div class="col-75">
                <input type="number" id="discount" name="discount" step="0.01" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="phone" hidden>is_paid</label>
            </div>
            <div class="col-75">
                <input type="radio" id="yes" name="is_paid" value="true">
                <label for="is_paid">Yes</label>

                <input type="radio" id="no" name="is_paid" value="false">
                <label for="is_paid">No</label></div>
        </div>

        <div class="row">
            <button type="submit" class="btn-primary mx-auto w-50">
                <% if (editMode) { %> Update Invoice
                <% } else { %> Add Invoice
                <% } %>
            </button>
        </div>
    </form>
</div>

<% if(invoices.length > 0) { %>
    <div id="tableLayout">
        <table>
            <thead>
            <tr>
                <th>Reference Number</th>
                <th>Charge</th>
                <th>Discount</th>
                <th>Balance</th>
                <th>Is Paid</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < invoices.length; i++) { %>
                <tr>
                    <td><%= invoices[i]['invoiceRef'] %></td>
                    <td><%= invoices[i]['charge'] %></td>
                    <td><%= invoices[i]['discount'] %></td>
                    <td><%= invoices[i]['balance'] %></td>
                    <td><%= invoices[i]['is_paid'] %></td>
                    <td>
                        <button class="btn-primary">Edit</button>
                        <button class="btn-danger">Delete</button>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
<% } %>
<%- include('includes/script.ejs') %>

</body>
</html>